$green_dark: #095024;
$green: #006634;
$green_primary: #339967;
$green_light: #34cc67;
$green_stroke: #e5f3e9;
$outline: #ececec;
$bg: #f6f9f6;
$red: #ed2020;
$white: #fff;

$t_dark: #363636;
$t_titles: #464a48;
$t_primary: #6c766a;
$t_light: #9e9c9c;

$gradient_primary: linear-gradient(to right, $green_primary, #1cae4d);
$gradient_hover: linear-gradient(90deg, rgba(51, 153, 103, 0.8) 0%, rgba(28, 174, 77, 0.8) 100%);
$gradient_cta: linear-gradient(254deg, #ddece5 0%, #eff6f3 93.68%),
	linear-gradient(319deg, rgba(221, 236, 229, 0.5) 0%, rgba(244, 251, 248, 0.5) 80.64%);
$gradient_red: linear-gradient(260deg, #fa6f6f 5.54%, #e80a0a 100%);
$gradient_blue: linear-gradient(53deg, #4a67ce 0%, #5d7ae3 100%);

$f_titles: "Gilroy", sans-serif;
$f_primary: "Exo 2", sans-serif;

$shadow_primary: 0 15px 20px -10px rgba(0, 0, 0, 0.15);
$shadow_green: 0 4px 20px 0 rgba(43, 136, 90, 0.6);
$radius: 50%;
$radius_sm: 8px;
$border: 1px solid $outline;
$border_green: 1px solid $green;
$border_l-green: 1px solid $green_stroke;
$trans: all 0.3s linear;

$blur: blur(9.5px);
