$primary: #E9AD8C;
$primary_dark: #D69978;
$outline: #E0DDC7;
$green: #02C3A1;
$orange: #FF7A00;
$red: #F34459;
$white: #fff;

$t_dark: #423A25;
$t_gray: #5C543E;
$t_caption: #897F71;
$t_light: #FDE8DE;

$gradient_bg: linear-gradient(257deg, rgba(238, 234, 213, 0.60) -0.46%, rgba(250, 249, 242, 0.60) 36.65%, rgba(255, 255, 255, 0.60) 73.3%, rgba(231, 193, 173, 0.17) 108.33%);
$gradient_primary: linear-gradient(90deg, #E9AD8C 3.4%, #DB9169 100%);
$gradient_brown: linear-gradient(267deg, #B78A71 -3.5%, #C9A692 120.11%);

$f_sans: 'Gilroy', sans-serif;
$f_serif: 'Lora', serif;

$shadow: 0px 4px 20px 0px rgba(185, 176, 131, 0.35);
$shadow_primary: 0px 7px 30px 0px rgba(205, 152, 123, 0.50);
$radius: 50%;
$radius_sm: 8px;
$border: 1px solid $outline;
$trans: all .2s linear;

