@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import "base/variables";
@import "base/mixins";
@import "base/fonts";

/* Default styles */

html {
	overflow: auto;
}
html,
body {
	max-width: 100%;
	overflow-x: hidden;
}
body {
	height: 100%;
	margin: 0;
	padding-right: 0 !important;
	background-color: $white;
	color: $t_primary;
	font-weight: 400;
	font-family: $f_primary;
	font-size: 22px;
	line-height: 1.5;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
button,
button:active,
button:focus {
	border: none;
	outline: none !important;
}
input:focus,
textarea:focus {
	outline: 0;
}
input[type="number"] {
	appearance: textfield;
}
a,
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
hr {
	margin-bottom: 25px;
	border-top: 1px solid $outline;
	color: $outline;
}
strong {
	font-weight: 600;
}
.italic {
	font-weight: 600;
	font-style: italic;
}
.container-fluid {
	padding: 0 4px;
}

/* Blocks */

@import "blocks/forms";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/social";
@import "blocks/search";
@import "blocks/icons";
@import "blocks/popups";
@import "blocks/buttons";
@import "blocks/sections";
@import "blocks/to-top";
@import "blocks/top-slider";
@import "blocks/sliders";
@import "blocks/cards";
@import "blocks/counter";
@import "blocks/badges";
@import "blocks/contacts";
@import "blocks/pages";

@import "blocks/media";
@import "blocks/nav-mobile";
