.btn {
	@include flex;
	font-weight: 600;
	border-radius: $radius_sm;
	color: #fff;
	outline: none;
	transition: $trans;
	&:hover {
		color: $white;
	}
	&--lg {
		height: 78px;
		padding: 0 32px;
		font-size: 22px;
		&.btn--stroke {
			&:hover {
				backdrop-filter: blur(9.5px);
			}
		}
	}
	&--md {
		height: 52px;
		padding: 0 20px;
		font-size: 20px;
		line-height: 140%;
		font-weight: 500;
	}
	&--sm {
		height: 44px;
		padding: 0 20px;
		font-size: 20px;
		line-height: 140%;
		font-weight: 500;
	}
	&--green {
		box-shadow: $shadow_green;
		background-image: linear-gradient(90deg, #339967 0%, #1cae4d 100%);
		transition: all 0.6s ease-in-out;
		background-size: 100% 100%;
		&:hover {
			box-shadow: none;
			background-position: 100% 0;
			background-size: 300% 100%;
		}
	}
	&--stroke {
		border: 2px solid #fff;
	}
	&--g-stroke {
		border: $border_green;
		color: $green;
		&:hover {
			color: $green;
			& .icon--right {
				transform: translateX(5px);
				transition: $trans;
			}
		}
	}
	&--tab {
		border: $border_l-green;
		background-color: $bg;
		padding: 0 35px;
		color: $t_titles;
		position: relative;
		&:hover {
			color: $t_titles;
		}
		&:focus {
			border: $border_l-green;
		}
	}
	&--lone {
		display: inline-flex;
		justify-content: start;
	}
	&--catalog {
		background-color: $green;
		&:hover {
			opacity: 0.8;
		}
	}
	&--tocart,
	&--addtocart {
		font-size: 22px;
		background: linear-gradient(90deg, #339967 0%, #1cae4d 100%);
		&.active {
			font-weight: 600;
			background: #e9f5e9;
			color: $green;
			&:hover {
				opacity: 1;
			}
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&--addtocart {
		&.done {
			display: none;
		}
	}
	&--added {
		display: none;
		font-weight: 600;
		background: #e9f5e9;
		color: $green;
		&.active {
			display: flex;
		}
		&:hover {
			color: $green;
		}
	}
	&--prev,
	&--next {
		color: $white;
		border-radius: $radius_sm;
		width: 40px;
		height: 40px;
		border: none;
		background: $gradient_primary;
	}
	&--mob {
		display: none;
	}
	&--blank {
		border: $border_l-green;
		background-color: $bg;
		font-weight: 600;
		font-size: 20px;
		line-height: 138%;
		color: $t_primary;
		&:hover {
			color: $green;
		}
	}
}
