.card {
	padding: 20px;
	transition: $trans;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: $border;
	margin-right: -1px;
	&--lg {
		height: 540px;
	}
	// &--sm {
	// 	height: auto;
	// 	padding-bottom: 5px;
	// }
	&__header {
		position: relative;
		height: 296px;
	}
	&__img {
		overflow: hidden;
		width: 100%;
		height: 284px;
		border-radius: $radius_sm;
		display: block;
		position: relative;
		transition: $trans;
		& .btn {
			opacity: 0;
			position: absolute;
			top: 50%;  
			left: 50%; 	  
			transform: translate(-50%, -50%);
			border: 1px solid $white;
			background: transparent;
		}
		&:hover > img {
			transition: all 0.5s ease-in-out;
			filter: blur(3px);
		}
		&:hover > .btn {
			opacity: 1;
		}
		& > img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__labels {
		display: inline-flex;
		gap: 5px;
		position: absolute;
		bottom: 0;
		left: 10px;
	}
	&__title {
		height: 60px;
		margin-bottom: 22px;
		padding-top: 10px;
		width: 100%;
		display: block;
		& > a {
			@include p1-med;
			transition: $trans;
			display: inline-block;
			color: $t_titles;
			&:hover {
				color: $green;
			}
		}
	}
	&:hover {
		box-shadow: $shadow_primary;
	}
	&__price {
		font-weight: 600;
		font-family: $f_titles;
		margin-bottom: 20px;
		&--from {
			font-family: $f_primary;
			font-weight: 500;
			font-size: 24px;
			color: $t_titles;
			margin-right: 4px;
		}
		&--red,
		&--black {
			font-size: 30px;
			margin-right: 10px;
			& span {
				font-size: 24px;
			}
		}
		&--red {
			color: $red;
		}
		&--black {
			color: $t_titles;
		}
		&--gray {
			color: #9e9c9c;
			font-size: 22px;
			font-weight: 500;
			text-decoration: line-through;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 100%;
	}
	&__btn {
		i {
			display: none;
		}
	}
	&-cat {
		align-items: center;
		margin-bottom: 24px;
		&__img {
			overflow: hidden;
			width: 100%;
			height: auto;
			border-radius: $radius_sm;
			display: block;
			margin-bottom: 18px;
			& > img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		&__title {
			& a {
				@include h-5;
				text-align: center;
				transition: $trans;
				&:hover {
					color: $green;
				}
			}
		}
	}
}
