.callback-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	&__header {
		margin-bottom: 22px;
	}
	&__notice {
		font-size: 14px;
		line-height: 20px;
		text-align: left;
		& > a {
			color: $green;
		}
	}
	& button {
		margin-bottom: 26px;
	}
}
input[type="email"],
input[type="tel"],
input[type="text"],
select,
textarea {
	height: 52px;
	padding: 16px 24px;
	border: $border_l-green;
	border-radius: $radius_sm;
	color: $t_primary;
	transition: all 0.2s linear;
	background-color: $bg;
	margin-bottom: 30px;
	font-size: 16px;
	width: 100%;
}
::placeholder {
	font-size: 16px;
	opacity: 0.6;
}

label.radio {
	display: inline-flex;
	align-items: center;
	margin-bottom: 0;
	cursor: pointer;
	font-weight: 600;
	font-size: 16px;
	&:hover .inner {
		transform: scale(0.7);
		opacity: 0.7;
	}
	input {
		height: 1px;
		width: 1px;
		opacity: 0;
		&:checked + .outer .inner {
			transform: scale(1);
			opacity: 1;
		}
		&:checked + .outer {
			border: $border_l-green;
		}
		&:focus + .outer .inner {
			transform: scale(1);
			opacity: 1;
			background-color: $green_primary;
		}
	}
	span.outer {
		height: 22px;
		width: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px 15px 10px 0;
		border: 1px solid $outline;
		border-radius: 50%;
		background-color: $bg;
		transition: $trans;
	}
	span.inner {
		transition: $trans;
		height: 10px;
		width: 10px;
		transform: scale(0);
		display: block;
		margin: 2px;
		border-radius: 50%;
		background-color: $green_primary;
		opacity: 0;
	}
}
.sorting-block {
	display: inline-flex;
	justify-content: start;
	& select {
		outline: none;
		margin-bottom: 0;
		margin-top: 16px;
		margin-right: 16px;
		background: $bg;
		appearance: none;
		padding: 8px 20px;
		color: $t_titles;
		font-weight: 500;
		font-size: 18px;
		width: auto;
		& option {
			text-transform: none;
			font-size: 16px;
		}
		&[data-chosen="1"] {
			background: $green_primary;
			color: $white;
			& option {
				background: $white;
				color: $t_titles;
			}
		}
	}
	&--price {
		gap: 24px;
		& select {
			margin-top: 0;
			margin-right: 0;
			padding-right: 38px;
			background: url("../icons/chevron_down.svg") no-repeat right $bg;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-position:
				right 10px top 50%,
				0 0;
		}
	}
}
