.header {
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 2000;
	&__top {
		min-height: 60px;
		border-bottom: $border_l-green;
		display: flex;
		align-items: center;
		&-wrapper {
			@include flex;
		}
		&-item {
			@include flex;
		}
	}
	& .social__link {
		&:nth-child(3) {
			display: none;
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		background-color: #fff;
		height: 96px;
		box-shadow: none;
		background-color: $bg;
		position: relative;
		transition: $trans;
		z-index: 2000;
		&-wrapper {
			@include flex;
		}
		&.fixed {
			position: fixed;
			box-shadow: $shadow_primary;
			left: 0;
			width: 100%;
			top: -100%;
		}
	}
	&__logo {
		display: block;		
		& img {
			max-width: 100%;
			height: auto;
		}
		&--mobile {
			display: none;
			height: 50px;
			& img {
				height: 100%;
			}
		}
	}
	&__menu {
		@include flex;
		&-item {
			display: block;
			line-height: 55px;
			transition: all 0.3s;
		}
	}
	&__cart {
		margin-right: 8px;
	}
}
.contacts__block {
	display: inline-flex;
	gap: 40px;
	& .phone {
		font-family: $f_titles;
		font-weight: 600;
		font-size: 17px;
		color: $t_titles;
		transition: $trans;
		&:hover {
			color: $green;
		}
	}
	& .callback {
		font-weight: 500;
		font-size: 17px;
		color: $green;
		transition: $trans;
		background-color: transparent;
		&:hover {
			color: $green_primary;
		}
	}
}

