@media screen and (min-width: 800px) {
	.modal-main:before {
		content: "";
		display: inline-block;
		height: auto;
		vertical-align: middle;
		margin-right: -0px;
		height: 100%;
	}
}
@media screen and (max-width: 799px) {
	.modal-inner {
		margin-top: 45px;
	}
}

@media (max-width: 1399px) {
	.nav {
		&__menu {
			gap: 22px;
			&-item {
				font-size: 16px;
			}
		}
	}
	.contacts__block {
		gap: 22px;
		& .phone {
			font-size: 16px;
		}
		& .callback {
			font-size: 16px;
		}
	}
	.search-form {
		width: 600px;
	}
	.sslider {
		&__arrows {
			& .btn--prev {
				left: -40px;
				&--rt {
					left: calc(100% - 85px);
				}
			}
			& .btn--next {
				right: -40px;
				&--rt {
					right: 0;
				}
			}
		}
	}
	.btn {
		&--tocart {
			padding: 0 16px;
			& span {
				display: none;
			}
			& i {
				display: block;
				margin: 0;
			}
		}
	}
	.card {
		&__title {
			& > a {
				font-size: 20px;
			}
		}
		&-cat {
			&__title {
				& a {
					font-size: 22px;
				}
			}
		}
		&-image {
			&__img {
				height: 260px;
			}
		}
	}
	.section {
		padding: 60px 0;
		&-gallery {
			&__item {
				&--txt {
					padding-left: 34px;
				}
			}
		}
		&-portfolio,
		&-opt {
			padding: 0;
		}
		&-opt {
			&__right {
				padding: 50px 0 50px 50px;
			}
		}
		&.section-also {
			padding: 0;
		}
	}
	.to-top {
		bottom: 40px;
		right: 2px;
	}
	.card {
		&-blog {
			min-height: 576px;
			&--article {
				min-height: 484px;
				& .card-blog__img {
					height: 206px;
				}
			}
		}
	}
	.page--article {
		& .page__content {
			margin-bottom: 90px;
		}
		& .section-page {
			padding-top: 0;
		}
	}
	.sidebar {
		&-block {
			&__label {
				padding: 0 16px;
				height: 48px;
				font-size: 18px;
			}
		}
		&--right {
			display: none;
		}
	}
	.product {
		&__image {
			width: auto;
			&-list {
				width: auto;
				gap: 20px;
			}
		}
	}
}

@media (max-width: 1199px) {
	.contacts__block {
		& .phone {
			display: none;
		}
	}
	.header {
		& .social__link {
			&:nth-child(1) {
				margin-left: 0;
			}
			&:nth-child(3) {
				display: flex;
			}
		}
	}
	.nav {
		&__menu {
			gap: 15px;
		}
	}
	.search-form {
		width: 420px;
	}
	.top-slider {
		&__title {
			font-size: 52px;
		}
		&__item {
			height: 650px;
			padding-top: 90px;
		}
	}
	.sslider {
		&__arrows {
			& .btn--prev {
				left: -12px;
				top: 40%;
				&--rt {
					left: calc(100% - 85px);
					top: 0;
				}
			}
			& .btn--next {
				top: 40%;
				right: -12px;
				&--rt {
					right: 0;
					top: 0;
				}
			}
		}
		&__tblock {
			padding: 64px;
			& h3 {
				font-size: 30px;
				margin-bottom: 0;
			}
			& > a {
				margin-bottom: 28px;
				font-size: 21px;
			}
			& .about {
				font-size: 21px;
			}
			&--feed {
				background-position: 42px 42px;
			}
		}
	}
	.benefits {
		&__item {
			padding: 20px 10px 20px 0;
		}
		&__icon {
			min-width: 94px;
		}
	}
	.section {
		&__title {
			font-size: 38px;
		}
		&__descr {
			padding-left: 22px;
			font-size: 20px;
		}
		&-gallery {
			padding: 0;
			&__item {
				min-height: 260px;
				&--txt {
					& p {
						font-size: 28px;
						& > span {
							font-size: 34px;
						}
					}
				}
			}
		}
		&-video .video {
			height: auto;
			& .play_button {
				width: 140px;
				height: 140px;
				top: calc(50% - 70px);
				left: calc(50% - 70px);
			}
		}
		&-cta {
			&__bottom {
				width: 55%;
			}
		}
		&-opt {
			&__left {
				font-size: 52px;
				line-height: 140%;
			}
			&__right {
				padding: 40px 0 50px 15px;
			}
			&__phone {
				font-size: 26px;
			}
			&__list {
				& li {
					font-size: 21px;
				}
			}
		}
		&-blog {
			&__descr {
				& h5 {
					font-size: 20px;
				}
			}
		}
		&-feedback {
			& .video {
				& .play_button {
					top: calc(50% - 70px);
					left: calc(50% - 70px);
					width: 140px;
					height: 140px;
				}
			}
		}
	}
	.footer {
		&__logo {
			width: 202px;
		}
		&__menu {
			&-item {
				font-size: 18px;
			}
		}
	}
	.email-block {
		& a {
			font-size: 16px;
		}
	}
	.to-top {
		bottom: 80px;
		right: 24px;
	}
	.page {
		&__content {
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}
	.sidebar {
		display: none;
	}
	.product {
		&__image {
			margin-bottom: 24px;
			&-list {
				margin-bottom: 46px;
			}
			&-item {
				width: 96px;
				height: 96px;
			}
		}
	}
	.contacts {
		&-list {
			margin-top: 0;
			flex-direction: row;
			margin-bottom: 40px;
			gap: 60px;
		}
	}
}

@media (max-width: 991px) {
	.container-fluid {
		padding: 0;
	}
	.header {
		&__top {
			min-height: 65px;
		}
		&__logo {
			display: none;
			&.logo__mobile {
				display: block;
				& img.logo__mobile--sm {
					display: none;
				}
			}
		}
	}
	.contacts__block {
		gap: 40px;
	}
	.mob-wrapper {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 15px;
	}
	.top-slider {
		&__item {
			padding-top: 46px;
			height: 612px;
		}
		&__title {
			margin-bottom: 28px;
			font-size: 48px;
		}
		&__descr {
			margin-bottom: 44px;
			font-size: 30px;
		}
		&__dots {
			& .slick-dots {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				& li {
					width: 33%;
					&::after {
						left: 74px;
					}
					& button {
						margin-bottom: 78px;
					}
				}
			}
		}
		&__next,
		&__prev {
			margin-top: 0;
		}
	}
	.btn {
		&--lg {
			padding: 0 22px;
			font-size: 20px;
			height: 68px;
		}
		&--mob {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 40px;
		}
		&--lone {
			width: 100%;
			justify-content: center;
			margin-bottom: 64px;
		}
	}
	.promo {
		&__buttons {
			gap: 32px;
		}
	}
	.sslider {
		&__arrows {
			& .btn--prev {
				left: calc(100% - 85px);
				top: -66px;
				&--rt {
					left: calc(100% - 85px);
					top: -92px;
				}
			}
			& .btn--next {
				right: 0;
				top: -66px;
				&--rt {
					right: 0;
					top: -92px;
				}
			}
		}
		&-mobile {
			padding: 0;
			margin: 0;
			width: 100%;
			display: block;
			&__dots {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 30px;
				& .slick-dots {
					display: flex;
					justify-content: center;
					& li {
						margin-right: 16px;
						& button {
							border: none;
							color: transparent;
							font-size: 0;
							outline: none;
							padding: 0;
							height: 14px;
							width: 14px;
							display: inline-block;
							background: #d9d9d9;
							border-radius: 50px;
							cursor: pointer;
							transition: all 300ms ease;
						}
						// &:hover button,
						&.slick-active button {
							width: 32px;
							background: $green_primary;
						}
					}
				}
			}
		}
		&.gallery__slider {
			.slick-list {
				position: relative;
				left: -20%;
			}
		}
		&__bg {
			display: none;
		}
		&__tblock {
			position: static;
			transform: none;
			width: 100%;
			box-shadow: none;
			background-color: #fff;
			height: auto;
			padding: 0;
			& .img-wrapper {
				display: block;
				height: 400px;
				width: 100%;
				margin-bottom: 20px;
				& img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					border-radius: $radius_sm;
				}
			}
			&--feed {
				background-image: none;
				& .about {
					margin-bottom: 20px;
				}
			}
		}
	}
	.section {
		padding: 40px 0;
		&__header {
			&--left {
				padding-right: 110px;
			}
			& .btn-wrapper {
				display: none;
			}
		}
		&__title {
			font-size: 32px;
			margin-bottom: 48px;
		}
		&__descr {
			margin-bottom: 40px;
		}
		&__content {
			margin-bottom: 40px;
		}
		&-catalogs {
			& .sslider {
				&__arrows {
					& .btn--prev {
						top: -195px;
					}
					& .btn--next {
						top: -195px;
					}
				}
			}
			& .section__descr {
				width: 100%;
			}
		}
		&-portfolio {
			& .sslider {
				&__arrows {
					display: none;
				}
			}
		}
		&-projects {
			& h3 {
				margin-bottom: 48px;
			}
		}
		&-gallery {
			&__item {
				min-height: 300px;
				display: flex;
				&--txt {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					margin-right: 20px;
					padding-left: 50px;
					& p {
						font-size: 34px;
						& > span {
							font-size: 42px;
						}
					}
				}
				&--img {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				&:nth-child(5) {
					order: 0;
				}
			}
		}
		&-decor,
		&-feedback {
			margin-top: 40px;
		}
		&-opt {
			padding: 0;
			.container {
				padding: 0;
				margin: 0;
				width: 100%;
				max-width: 100%;
			}
			&__wrapper {
				height: auto;
				&::before {
					background: url(../img/pattern1.svg) center center / cover no-repeat;
					width: 100%;
				}
			}
			&__img {
				display: none;
			}
			&__left {
				background: url("../img/opt.jpg") center center / cover no-repeat;
				width: 100%;
				margin: 0;
				padding: 40px 100px;
				font-size: 44px;
				line-height: 126%;
			}
			&__right {
				padding: 30px 100px 50px;
			}
			&__list {
				margin-bottom: 40px;
			}
		}
		&-blog {
			&__item {
				height: 160px;
				padding-right: 15px;
				&--lg {
					height: 160px;
					display: flex;
					justify-content: start;
					align-items: center;
					gap: 20px;
					border: $border;
					border-radius: 0;
					&::after {
						display: none;
					}
					&:hover {
						color: $t_primary;
					}
					&:hover h4,
					&:hover h5 {
						color: $green;
					}
					&:hover {
						&:hover .section-blog__img img {
							filter: none;
						}
					}
					& .section-blog__img {
						overflow: hidden;
						width: 30%;
						height: 100%;
						flex-shrink: 0;
					}
					& .section-blog__descr {
						position: static;
						color: $t_primary;
						& h4 {
							@include h-5;
							color: $t_titles;
						}
						& p {
							display: block;
						}
					}
				}
			}
			&__descr {
				& h5 {
					font-size: 24px;
				}
			}
		}
		&-feedback {
			& .video {
				margin-bottom: 30px;
				& video {
					height: 400px;
				}
			}
		}
		&-contacts {
			padding-bottom: 10px;
			& .section__title {
				margin-bottom: 26px;
			}
			&__tabs {
				justify-content: flex-start;
			}
			&__item {
				&-wrapper {
					position: static;
					height: 100%;
					border: none;
					border-radius: 0;
					padding: 0;
					width: 100%;
					box-shadow: none;
					& h4 {
						margin-bottom: 20px;
					}
					& address {
						font-size: 18px;
						line-height: 144%;
						margin-bottom: 16px;
					}
					& .phone-block {
						margin-bottom: 16px;
					}
					& .email-block {
						margin-bottom: 30px;
					}
				}
				&-map {
					& iframe {
						height: 300px;
					}
				}
			}
		}
		&-portfolio {
			padding: 10px 0 0;
		}
	}
	.card {
		&__header {
			width: 100%;
		}
	}
	.footer {
		text-align: center;
		&__logo {
			width: 100%;
			margin-bottom: 42px;
		}
		&__contacts {
			display: inline-flex;
			align-items: center;
			margin-bottom: 34px;
			flex-direction: column-reverse;
			& .phone-block {
				align-items: center;
			}
		}
		&__menu {
			margin-bottom: 30px;
			&-title {
				margin-bottom: 16px;
			}
		}
		&__top {
			padding: 62px 0 20px;
		}
		&__bottom {
			font-size: 16px;
		}
	}
	.slides-numbers {
		visibility: hidden;
	}
	.sidebar {
		display: none;
	}
	.card {
		&-blog {
			min-height: 526px;
			&__img {
				height: 210px;
			}
			&__title {
				& a {
					font-size: 26px;
				}
			}
			&--article {
				& .card-blog__img {
					height: 138px;
				}
				& .card-blog__title {
					& a {
						font-size: 22px;
					}
				}
			}
		}
	}
	.product {
		&__slider {
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			background-color: $bg;
			border-radius: $radius_sm;
		}
		&__image {
			height: 400px;
			width: 100%;
			text-align: center;
			overflow: hidden;
			margin-bottom: 0;
			& img {
				height: 100%;
				width: auto;
			}
		}
		&__info {
			margin-bottom: 40px;
		}
		&-list {
			&__item {
				grid-template-columns: 5fr 4fr 3fr;
				row-gap: 14px;
				column-gap: 20px;
				grid-template-areas:
					"b d d"
					"a c e";
				& > * {
					align-self: start;
				}
			}
			&__header {
				display: none;
			}
			&__size {
				grid-area: a;
				align-self: center;
			}
			&__title {
				grid-area: b;
				font-size: 20px;
			}
			&__counter {
				grid-area: c;
			}
			&__price {
				grid-area: d;
				&-wrapper {
					flex-direction: row;
					align-items: center;
				}
				&--red {
					margin-right: 10px;
				}
			}
			&__btn {
				grid-area: e;
				align-self: center;
				justify-self: center;
			}
		}
	}
	.order {
		&-list {
			&__item {
				grid-template-columns: 2fr 5fr 2fr;
				row-gap: 14px;
				column-gap: 14px;
				grid-template-areas:
					"a b f"
					"c g e";
				& > * {
					align-self: start;
				}
			}
			&__header {
				display: none;
			}
			&__img {
				grid-area: a;
			}
			&__descr {
				grid-area: b;
			}
			&__model {
				grid-area: c;
				align-self: center;
			}
			&__price {
				display: none;
			}
			&__counter {
				grid-area: e;
				align-self: center;
			}
			&__sum {
				grid-area: f;
				justify-self: center;
			}
			&__del {
				grid-area: g;
				align-self: center;
				justify-content: flex-start;
			}
			&__btn {
				& span {
					display: inline-block;
				}
			}
		}
	}
	.price {
		&-list {
			&__header {
				grid-template-columns: 2fr 3.5fr 1.5fr 2fr 3fr;
			}
			&__item {
				grid-template-columns: 2fr 3.5fr 1.5fr 2fr 3fr;
			}
			&__title {
				font-size: 20px;
			}
			&__price {
				font-size: 22px;
			}
			&__btn {
				& button {
					font-size: 20px;
				}
			}
		}
	}
	.del-table {
		&__warning {
			width: 100%;
		}
	}
	.contacts {
		&-list {
			gap: 40px;
		}
		& .section-contacts__item-map {
			margin-top: 30px;
		}
	}
}

@media (max-width: 767px) {
	body {
		font-size: 20px;
		line-height: 1.4;
	}
	.header {
		&__bottom {
			height: 78px;
		}
		&__logo {
			&.logo__mobile {
				& img.logo__mobile--md {
					width: 160px;
				}
			}
		}
	}
	.btn {
		&--catalog {
			font-size: 17px;
			padding: 0 16px;
		}
		&--tab {
			padding: 0 22px;
		}
	}
	.search-form {
		width: 312px;
	}
	.top-slider {
		&__title {
			font-size: 42px;
		}
		&__descr {
			font-size: 25px;
			margin-bottom: 30px;
		}
		&__dots {
			& ul {
				& li {
					&::after {
						display: none;
					}
				}
			}
			& .slick-dots {
				gap: 38px;
				justify-content: center;
				& li {
					width: auto;
					& button {
						margin-bottom: 46px;
					}
				}
			}
		}
		&__arrows {
			display: flex;
			justify-content: space-between;
		}
		&__item {
			height: 594px;
		}
	}
	.promo {
		&__buttons {
			justify-content: space-between;
			margin-bottom: 40px;
		}
	}
	.card {
		&__header {
			height: 242px;
		}
		&__img {
			height: 226px;
		}
		&__title {
			margin-bottom: 18px;
			& > a {
				font-size: 18px;
			}
		}
		&-hor {
			padding: 0;
			border: none;
			margin-bottom: 40px;
			&__img {
				width: 30%;
			}
			&__title {
				font-size: 26px;
			}
			&__descr {
				& > p {
					font-size: 20px;
				}
			}
		}
		&-areas {
			&__header {
				height: 284px;
			}
			&__img {
				height: 100%;
			}
			&__content {
				font-size: 18px;
				padding: 20px;
			}
		}
	}
	.benefits {
		&__item {
			gap: 40px;
		}
		&__title {
			font-size: 26px;
		}
		&__icon {
			min-width: 86px;
			& img {
				max-width: 100%;
			}
		}
	}
	.sslider {
		&__tblock {
			h3 {
				font-size: 26px;
			}
		}
	}
	.section {
		&__title {
			line-height: 1.15;
			& .h-caps {
				text-transform: none;
			}
		}
		&-cta {
			&__bottom {
				width: 80%;
			}
		}
		&-catalogs {
			& .sslider {
				&__arrows {
					& .btn--prev {
						top: -210px;
					}
					& .btn--next {
						top: -210px;
					}
				}
			}
		}
		&-gallery {
			&__item {
				&--txt {
					padding-left: 36px;
				}
			}
		}
		&-opt {
			&__left {
				padding: 34px 70px;
			}
			&__right {
				padding: 30px 70px 50px;
			}
		}
		&-blog {
			&__descr {
				& h5,
				& h4 {
					font-size: 20px;
				}
			}
			&__item {
				&--lg {
					& .section-blog__descr {
						& h4 {
							font-size: 20px;
						}
					}
				}
			}
		}
		&-feedback {
			& .video {
				& video {
					width: 100%;
					height: auto;
				}
			}
		}
		&-page {
			& .section__header {
				& .section__title {
					font-size: 32px;
				}
			}
		}
	}
	.breadcrumbs {
		&__item {
			&:not(:last-child)::after {
				top: 0;
			}
		}
	}
	.page {
		&__footer {
			justify-content: center;
		}
	}
	.paginator {
		margin-right: 0;
		&__item {
			min-width: 40px;
			height: 40px;
			&.arrow {
				width: 0;
			}
		}
	}
	.sorting-block {
		& select {
			padding: 8px 10px;
			font-size: 16px;
		}
	}
	.card {
		&-blog {
			min-height: auto;
			&__img {
				height: 268px;
			}
			&--article {
				height: auto;
				margin-bottom: 20px;
				& .card-blog__img {
					height: 206px;
				}
			}
		}
	}
	.product {
		&__slider {
			margin-bottom: 0;
			& .slick-list {
				margin: 0 -12px;
			}
		}
		&__gallery {
			margin-bottom: 12px;
		}
		&__image {
			margin: 0 12px;
			&:not(:nth-child(1)) {
				display: block;
			}
			&-list {
				display: none;
			}
		}
		&__dots {
			margin-top: 16px;
		}
		&__price {
			margin-bottom: -12px;
		}
	}
	.modal-table {
		&__header {
			& .popup__header {
				font-size: 24px;
			}
		}
		&__item {
			& .descr-cell {
				padding: 16px 20px 16px 0;
			}
		}
	}
	.product {
		&-checkout {
			&__heading {
				flex-direction: column;
				align-items: flex-start;
				margin-bottom: 14px;
			}
			&__title {
				margin-bottom: 10px;
			}
		}
		&-list {
			&__item {
				grid-template-columns: 6fr 6fr;
				row-gap: 14px;
				column-gap: 20px;
				grid-template-areas:
					"b d"
					"b c"
					"a e";
				& > * {
					align-self: start;
				}
			}
			&__title {
				font-size: 22px;
			}
			&__counter {
				justify-self: end;
			}
			&__price {
				justify-self: end;
				&-wrapper {
					flex-direction: row;
				}
			}
			&__btn {
				align-self: center;
				justify-self: end;
			}
		}
	}
	.order {
		&-list {
			&__model {
				font-size: 16px;
			}
		}
	}
	.price {
		&-list {
			border-top: none;
			padding-top: 0;
			&__item {
				grid-template-columns: 2.5fr 1.5fr 2fr 3fr;
				row-gap: 14px;
				column-gap: 14px;
				grid-template-areas:
					"b b b b"
					"a c d e";
				& > * {
					align-self: start;
				}
			}
			&__header {
				display: none;
			}
			&__img {
				grid-area: a;
				align-self: center;
			}
			&__title {
				grid-area: b;
				font-size: 22px;
			}
			&__size {
				grid-area: c;
				align-self: center;
			}
			&__price {
				grid-area: d;
				align-self: center;
			}
			&__btn {
				grid-area: e;
				align-self: center;
			}
		}
	}
	.sorting-block {
		& select {
			padding: 8px 20px 8px 10px;
			background-position:
				right 2px top 50%,
				0 0;
			& option {
				font-size: 14px;
			}
		}
		&--price {
			gap: 12px;
		}
	}
	.del-table {
		&__col-title {
			&__header {
				grid-template-columns: 6fr 6fr;
			}
			&__item {
				grid-template-columns: 6fr 6fr;
				row-gap: 14px;
				column-gap: 14px;
				grid-template-areas:
					"a a"
					"b c";
			}
			&__row-title {
				grid-area: a;
			}
			&__list--st {
				grid-area: b;
			}
			&__list--nd {
				grid-area: c;
			}
			&__title {
				grid-area: b;
				font-size: 22px;
			}
		}
	}
	.contacts {
		&-list {
			flex-direction: column;
			gap: 26px;
			margin-bottom: 60px;
		}
	}
}

@media (max-width: 575px) {
	body {
		font-size: 18px;
	}
	.header {
		&__logo {
			&.logo__mobile {
				& img.logo__mobile--md {
					display: none;
				}
				& img.logo__mobile--sm {
					display: block;
				}
			}
		}
		&__cart {
			display: none;
			&.cart--mobile {
				display: block;
			}
		}
		&__bottom {
			&-wrapper {
				display: block;
			}
		}
	}
	.cart {
		&__wrapper {
			& i {
				font-size: 26px;
			}
			& .cart__num {
				font-size: 12px;
				width: 20px;
				height: 20px;
				top: -8px;
			}
		}
	}
	.social {
		&__link {
			margin-left: 10px;
		}
	}
	.contacts__block {
		& .callback {
			display: none;
		}
	}
	.btn {
		&--catalog {
			display: none;
		}
		&--tab {
			height: 40px;
			font-size: 16px;
			padding: 0 6px;
		}
	}
	.top-slider {
		&__title {
			font-size: 34px;
		}
		&__item {
			padding-top: 30px;
		}
		&__descr {
			& br {
				display: none;
			}
		}
		&__dots {
			display: none;
		}
		&__arrows {
			justify-content: center;
		}
	}
	.search-form {
		width: 100%;
	}
	.promo {
		&__buttons {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
		}
	}
	.section {
		padding: 30px 0;
		&__header {
			&--left {
				padding-right: 79px;
			}
		}
		&__title {
			font-size: 28px;
		}
		&__descr {
			font-size: 18px;
		}
		&-gallery {
			&__item {
				min-height: 220px;
				&--txt {
					padding-left: 12px;
					& p {
						font-size: 20px;
						& > span {
							font-size: 24px;
						}
					}
				}
			}
		}
		&-video {
			& .video {
				& .play_button {
					display: none;
				}
			}
		}
		&-feedback {
			& .video {
				& .play_button {
					display: none;
				}
			}
		}
		&-cta {
			&__title {
				line-height: 164%;
				font-size: 22px;
				& span {
					font-size: 28px;
				}
			}
			&__phone {
				& a {
					font-size: 28px;
				}
			}
			&__phone,
			&__social {
				font-size: 20px;
			}
			&__top {
				min-height: 470px;
				&::before {
					top: -60px;
				}
			}
			&__bottom {
				text-align: center;
				width: 90%;
				bottom: 32px;
				&__wrapper {
					&::after {
						width: 400px;
						height: 400px;
						left: -110px;
						top: 44px;
					}
				}
			}
		}
		&-decor,
		&-feedback {
			margin-top: 0;
		}
		&-opt {
			margin-top: 0;
			&__left {
				padding: 34px 40px;
				font-size: 30px;
			}
			&__right {
				padding: 30px 40px 50px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&__title {
				font-size: 28px;
				margin-bottom: 26px;
			}
			&__list {
				padding-left: 50px;
				margin-bottom: 28px;
				& li {
					font-size: 18px;
					margin-bottom: 18px;
					&::before {
						left: -54px;
					}
				}
			}
			&__social {
				flex-direction: column;
				align-items: center;
			}
			&__phone {
				font-size: 20px;
			}
		}
		&-projects {
			& h3 {
				font-size: 25px;
			}
		}
		&-blog {
			&__item {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				height: auto;
				padding: 0;
				border: none;
				margin-bottom: 10px;
				&--lg {
					& .section-blog__img {
						width: 100%;
					}
				}
			}
			&__img {
				width: 100%;
			}
		}
		&-catalogs {
			& .sslider {
				&__arrows {
					& .btn--prev {
						top: -200px;
					}
					& .btn--next {
						top: -200px;
					}
				}
			}
		}
		&-contacts {
			&__tabs {
				gap: 10px;
			}
		}
	}
	.sslider {
		&.trends__slider,
		&.sale__slider,
		&.areas__slider,
		&.projects__slider,
		&.catalogs__slider,
		&.portfolio__slider {
			& .slick-list {
				padding: 0 20% 0 0;
			}
		}
		&__arrows {
			& .btn--prev {
				left: calc(100% - 70px);
			}
			& .btn--prev--rt,
			& .btn--next--rt {
				top: -84px;
			}
		}
		&-nav {
			& .slick-slide:not(.slick-active) {
				opacity: 1;
			}
		}
		&-mobile {
			&__dots {
				margin-top: 20px;
			}
		}
	}
	.btn {
		&--next,
		&--prev {
			width: 32px;
			height: 32px;
			border-radius: 6px;
		}
	}
	.card {
		&__price {
			&--red,
			&--black {
				font-size: 26px;
			}
			&--gray {
				font-size: 18px;
			}
		}
		&__title {
			margin-bottom: 26px;
		}
		&-cat {
			height: 100%;
			padding: 15px 12px;
			margin-bottom: 0;
			margin-top: -1px;
			&__title {
				& a {
					font-size: 18px;
				}
			}
		}
		&-hor {
			flex-direction: column;
			&__img {
				width: 100%;
			}
			&__title {
				font-size: 22px;
			}
		}
		&.card--lg {
			height: auto;
		}
	}
	.benefits {
		margin-top: 30px;
		&__item {
			gap: 30px;
			padding: 14px 0;
		}
		&__icon {
			min-width: 64px;
		}
		&__title {
			font-size: 20px;
			margin-bottom: 14px;
		}
	}
	.footer {
		&__top {
			padding: 30px 0 20px;
		}
	}
	.breadcrumbs {
		&__item {
			&:not(:last-child)::after {
				top: -2px;
			}
		}
	}
	.page {
		&-descr {
			font-size: 16px;
		}
		&-title {
			font-size: 42px;
		}
	}
	.article {
		&__img {
			&-block {
				&--double {
					margin: 40px 0 20px 0;
					& .article__img {
						margin-bottom: 20px;
					}
				}
			}
		}
		&__video {
			& .video {
				& .play_button {
					display: none;
				}
			}
		}
	}
	.modal-tocart,
	.modal-check {
		&__content {
			& img {
				width: 52px;
				height: 52px;
				margin-bottom: 24px;
			}
			& .btn {
				margin-bottom: 26px;
			}
		}
		& .popup__header {
			margin-bottom: 36px;
			font-size: 32px;
		}
		& .modal-wrapper {
			padding: 40px 28px;
		}
		&--open {
			& .modal-inner {
				max-width: 360px;
			}
		}
	}
	.order {
		&-list {
			&__title {
				font-size: 22px;
			}
			&__footer {
				align-items: center;
			}
			&__btns {
				flex-direction: column;
				& .btn--tocart {
					justify-content: center;
				}
			}
		}
	}
	.sorting-block {
		&--price {
			flex-wrap: wrap;
			align-items: flex-end;
		}
	}
	.gen-price {
		&__header {
			align-items: flex-end;
			justify-content: flex-end;
			gap: 12px;
		}
	}
	.price-list {
		&__price {
			font-size: 20px;
		}
		&__btn {
			& button {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 480px) {
	.section {
		&-catalogs {
			& .sslider {
				&__arrows {
					& .btn--prev {
						top: -225px;
					}
					& .btn--next {
						top: -225px;
					}
				}
			}
		}
	}
	.product {
		&-specs {
			&__item {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				&:before {
					display: none;
				}
				& span {
					max-width: 45%;
					word-break: normal;
					&.caption {
						padding-right: 0;
					}
					&.product-spec {
						position: static;
						text-align: left;
						width: 45%;
					}
				}
			}
		}
	}
	.modal-table {
		& .modal-wrapper {
			padding: 46px 0 0 0;
		}
		&__header {
			& .popup__header {
				margin-bottom: 20px;
			}
		}
		&__item {
			& .head-cell {
				padding: 16px;
				min-width: 160px;
			}
		}
	}
	.modal-tocart,
	.modal-check {
		&__content {
			& img {
				margin-bottom: 20px;
			}
			& .btn {
				margin-bottom: 18px;
			}
		}
		& .popup__header {
			margin-bottom: 28px;
			font-size: 28px;
		}
		& .modal-wrapper {
			padding: 30px 20px;
		}
		&--open {
			& .modal-inner {
				max-width: 300px;
			}
		}
	}
	.modal-check {
		& p {
			font-size: 17px;
		}
	}
	.order {
		&-list {
			&__item {
				row-gap: 0;
				grid-template-columns: 4fr 8fr;
				grid-template-areas:
					"a f "
					"a b "
					"e g ";
			}
			&__model {
				display: none;
			}
			&__title {
				font-size: 20px;
			}
			&__sum {
				justify-self: left;
				margin-bottom: 10px;
			}
			&__del {
				align-self: end;
			}
		}
	}
	.price {
		&-link {
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
	}
	.product {
		&-list {
			&__item {
				grid-template-columns: 5fr 7fr;
				column-gap: 14px;
			}
			&__title {
				font-size: 18px;
			}
			&__size {
				align-self: center;
			}
			&__price {
				&--red,
				&--black {
					font-size: 22px;
				}
				&--gray {
					font-size: 16px;
				}
			}
		}
	}
	.gen-price {
		&__header {
			gap: 0;
		}
	}
	.price {
		&-list {
			&__title {
				font-size: 19px;
			}
			&__img {
				width: 90px;
				height: 90px;
				align-self: start;
			}
			&__btn {
				justify-self: end;
				text-align: right;
				align-self: start;
				&--multi {
					align-items: flex-end;
				}
				& .card__btn {
					height: 48px;
					padding: 0 16px;
					& span {
						display: none;
					}
					& i {
						display: block;
						margin-right: 0;
					}
				}
				& .lack {
					font-size: 14px;
				}
			}
			&__size {
				font-size: 15px;
				align-self: start;
			}
			&__price {
				font-size: 16px;
				align-self: start;
			}
		}
	}
	.del-table {
		&__col-title {
			&--zero {
				display: none;
			}
		}
		&__row-title {
			grid-area: a;
			font-size: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $bg;
			padding: 10px 0;
			color: $t_primary;
		}
		&__header {
			grid-template-columns: 6fr 6fr;
		}
		&__item {
			grid-template-columns: 6fr 6fr;
			row-gap: 14px;
			column-gap: 14px;
			grid-template-areas:
				"a a"
				"b c";
		}
		&__list {
			& li {
				padding-left: 20px;
			}
			&__list--st {
				grid-area: b;
			}
			&__list--nd {
				grid-area: c;
			}
		}
	}
}

@media (max-width: 360px) {
	.section {
		&-catalogs {
			& .sslider {
				&__arrows {
					& .btn--prev {
						top: -280px;
					}
					& .btn--next {
						top: -280px;
					}
				}
			}
		}
	}
	.sorting-block {
		flex-wrap: wrap;
	}
	.card {
		&-blog {
			&__img {
				height: 166px;
				&--blank {
					& img {
						width: 140px;
					}
				}
			}
			&__title {
				& a {
					font-size: 24px;
				}
			}
		}
	}
}
