@media screen and (min-width: 800px) {
	.modal-main:before {
		content: "";
		display: inline-block;
		height: auto;
		vertical-align: middle;
		margin-right: -0px;
		height: 100%;
	}
}
@media screen and (max-width: 799px) {
	.modal-inner {
		margin-top: 45px;
	}
}
