.page {
	&__content {
		margin-top: 60px;
		margin-bottom: 134px;
	}
	&__header {
		margin-bottom: 40px;
		&--full {
			margin-bottom: 64px;
		}
	}
	&-title {
		@include h-2;
		line-height: 1.1;
	}
	&-descr {
		@include p3-reg;
		margin-top: 16px;
		margin-bottom: 20px;
		& a {
			color: $green_primary;
			font-weight: 600;
			transition: $trans;
			&:hover {
				color: $green;
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: flex-start;
		margin-top: 90px;
		flex-wrap: wrap;
	}
}
.sorting-block {
	display: inline-flex;
	justify-content: start;
	& select {
		outline: none;
		margin-bottom: 0;
		margin-top: 16px;
		margin-right: 16px;
		background: $bg;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 8px 20px;
		color: $t_titles;
		font-weight: 500;
		font-size: 18px;
		width: auto;
		& option {
			text-transform: none;
			font-size: 16px;
		}
		&[data-chosen="1"] {
			background: $green_primary;
			color: $white;
			& option {
				background: $white;
				color: $t_titles;
			}
		}
	}
}
.article {
	&__content {
		@include p2-reg;
		& p {
			margin-bottom: 20px;
		}
		& ol,
		& ul {
			padding-left: 36px;
			& li {
				line-height: 27px;
				margin-bottom: 16px;
				position: relative;
			}
		}
		& ol {
			counter-reset: li;
			& > li {
				list-style-type: none;
				&::before {
					position: absolute;
					left: -36px;
					counter-increment: li;
					content: counter(li) ". ";
					color: $green_primary;
					font-weight: 600;
					top: 0;
				}
			}
		}
		& ul {
			& > li::before {
				position: absolute;
				left: -36px;
				content: "";
				width: 10px;
				height: 10px;
				background: $gradient_primary;
				top: 11px;
				border-radius: 50%;
			}
		}
	}
	&__img-block {
		margin: 40px 0;
	}
	&__img {
		border-radius: $radius_sm;
		overflow: hidden;
		height: auto;
		width: 100%;
		& img {
			width: 100%;
		}
		&-caption {
			font-weight: 500;
			font-size: 16px;
			line-height: 125%;
			color: #9e9c9c;
			margin-top: 12px;
			display: block;
		}
	}
	&__quote {
		font-family: $f_primary;
		font-weight: 600;
		font-size: 22px;
		line-height: 136%;
		color: $t_primary;
		border-radius: 8px;
		padding: 30px 50px;
		background-color: $bg;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 36px 0;
		background-image: url(../icons/quote_sm.svg);
		background-repeat: no-repeat;
		background-size: 74px 56px;
		background-position: 15px 12px;
		& > p {
			margin-bottom: 0;
		}
	}
	&__link {
		color: #339967;
		font-weight: 600;
		transition: all 0.3s linear;
		&:hover {
			color: #006634;
		}
	}
	&__subtitle {
		@include h-3;
		margin: 40px 0 26px 0;
	}
	&__share {
		display: flex;
		justify-content: flex-start;
		@include a-sm;
	}
	&__social {
		display: flex;
		justify-content: space-between;
		gap: 12px;
		margin-left: 20px;
		& a {
			transition: opacity 0.3s linear;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__video {
		& .video {
			width: 100%;
			position: relative;
			z-index: 1;
			height: 100%;
			cursor: pointer;
			overflow: hidden;
			& video {
				display: block;
				width: 100%;
				object-fit: cover;
				border-radius: 8px;
			}
			& .play_button {
				position: absolute;
				content: "";
				background-image: url(../icons/play.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				top: calc(50% - 72px);
				left: calc(50% - 72px);
				width: 144px;
				height: 144px;
				transition: all 0.3s linear;
				background-color: transparent;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

