.modal-main,
.modal-tocart,
.modal-check,
.modal-table {
	text-align: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; /* z-index: 1050; */
	-webkit-overflow-scrolling: touch;
	outline: 0;
	opacity: 0;
	transition:
		opacity 0.15s linear,
		z-index 0.15s;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.model--open,
.modal-tocart--open,
.modal-check--open,
.modal-table--open {
	z-index: 99999;
	opacity: 1;
	overflow: hidden;
}
.modal-inner {
	transform: translate(0, -25%);
	transition: transform 0.3s ease-out;
	display: inline-block;
	width: 460px;
	margin: 30px auto;
	max-width: 97%;
}
.modal-wrapper {
	display: block;
	width: 100%;
	position: relative;
	background-color: #fff;
	border-radius: $radius_sm;
	box-shadow: $shadow_primary;
	background-clip: padding-box;
	outline: 0;
	text-align: center;
	padding: 60px;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.modal-table--open .modal-inner {
	width: 700px;
}
.modal-tocart--open .modal-inner,
.modal-check--open .modal-inner {
	max-width: 460px;
}
.model--open .modal-inner,
.modal-tocart--open .modal-inner,
.modal-check--open .modal-inner,
.modal-table--open .modal-inner {
	transform: translate(0, 0);
	position: relative;
	z-index: 999;
}
.model--open .bg-overlay,
.modal-tocart--open .bg-overlay,
.modal-check--open .bg-overlay,
.modal-table--open .bg-overlay {
	background: rgba(0, 0, 0, 0.6);
	z-index: 99;
}
.bg-overlay {
	background: rgba(0, 0, 0, 0);
	height: 100vh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	transition: background 0.15s linear;
}
.close-btn {
	position: absolute;
	right: 18px;
	top: 18px;
	background-color: $bg;
	padding: 4px 10px;
	cursor: pointer;
	z-index: 99;
}
.popup {
	&__header {
		@include h-3;
		margin-bottom: 26px;
	}
	&__descr {
		@include p2-reg;
	}
}
.modal-table {
	&__header {
		& .popup__header {
			@include h-4;
			margin-bottom: 36px;
		}
	}
	& .modal-wrapper {
		padding: 37px 0 0 0;
	}
}
.modal-tocart {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& img {
			width: 64px;
			height: 64px;
			margin-bottom: 28px;
		}
		& .btn {
			margin-bottom: 26px;
		}
		& .link--lg {
			display: block;
			font-weight: 600;
			font-size: 20px;
			line-height: 110%;
			color: $green_primary;
			transition: $trans;
			&:hover {
				color: $green;
			}
		}
	}

	& .popup__header {
		@include h-3;
		margin-bottom: 40px;
	}
	& .modal-wrapper {
		padding: 50px;
	}
}
.modal-check {
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& img {
			width: 64px;
			height: 64px;
			margin-bottom: 28px;
		}
		& p {
			@include p2-reg;
		}
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 5000;
	&.active {
		display: block;
	}
	&-slider,
	&-slider1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 1200px;
		&__img {
			height: 100vh;
			width: 100%;
			& > img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		& .slick-list {
			overflow: hidden;
		}
		&__prev,
		&__next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			width: 60px;
			height: 52px;
			border: none;
			border-radius: $radius_sm;
			transition: $trans;
			backdrop-filter: $blur;
			background: rgba(255, 255, 255, 0.15);
			color: white;
		}
		&__prev {
			left: 35px;
		}
		&__next {
			right: 35px;
		}
		&:focus,
		&:active {
			border: none;
		}
	}
}
.close-btn.close-modal,
.close-btn.close-modal1 {
	position: absolute;
	right: 25px;
	top: 25px;
	z-index: 1001;
	color: #000;
}
