.price {
	&__warning {
		@include p3-reg;
		margin-bottom: 28px;
		& > span {
			margin-right: 6px;
			font-weight: 600;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: $border;
		padding: 12px 12px 12px 20px;
		@include caption;
		color: $t_primary;
		margin-bottom: 12px;
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $radius_sm;
		background-color: $green_primary;
		color: #fff;
		padding: 11px;
		transition: $trans;
		margin-left: 12px;
		&:hover {
			color: #fff;
			opacity: 0.8;
		}
	}
	&-link {
		margin-top: 46px;
		display: inline-flex;
		justify-content: flex-start;
		gap: 24px;
		align-items: center;
		padding: 12px 20px;
		border: $border_l-green;
		background-color: $bg;
		&__descr {
			display: flex;
			flex-direction: column;
			&-title {
				@include p3-reg;
				font-weight: 600;
				margin-bottom: 4px;
			}
			&-info {
				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
			}
		}
	}
	&-list {
		border-top: 1px solid $outline;
		padding-top: 12px;
		&__header {
			display: grid;
			grid-template-columns: 1.5fr 4fr 2fr 2fr 2.5fr;
			margin: 0 20px 16px 20px;
			column-gap: 20px;
		}
		&__body {
			margin-bottom: 40px;
		}
		&__col-title {
			font-weight: 500;
			font-size: 16px;
			line-height: 125%;
		}
		&__item {
			display: grid;
			grid-template-columns: 1.5fr 4fr 2fr 2fr 2.5fr;
			column-gap: 20px;
			border: 1px solid $outline;
			border-radius: $radius_sm;
			padding: 20px;
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__img {
			width: 100px;
			height: 100px;
			align-self: center;
			& img {
				border-radius: 8px;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		&__title {
			@include h-5;
			align-self: center;
			margin-right: 14px;
			& a {
				transition: $trans;
				color: #423a25;
				&:hover {
					color: $green;
				}
			}
		}
		&__size {
			@include p3-reg;
			color: $t_titles;
			word-break: normal;
			align-self: center;
			&--multi {
				display: flex;
				flex-direction: column;
				height: 100%;
				gap: 16px;
				& span {
					height: 50%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
				}
			}
		}
		&__price {
			align-self: center;
			justify-self: start;
			font-family: $f_titles;
			color: $t_titles;
			margin: 0;
			color: $t_titles;
			font-weight: 600;
			font-size: 24px;
			&--multi {
				display: flex;
				flex-direction: column;
				height: 100%;
				gap: 16px;
				& span {
					height: 50%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
				}
			}
		}
		&__action {
			& .lack {
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
			}
		}
		&__btn {
			justify-content: flex-start;
			display: flex;
			align-items: center;
			&--multi {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: 100%;
				gap: 16px;
				& .tocart-wrapper, & .lack {
					height: 50%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
				}
			}
		}
	}
}
.gen-price {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		& .print-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 52px;
			min-width: 52px;
			height: 52px;
			background-color: #f6f9f6;
			border-radius: 6px;
			border: 1px solid #e5f3e9;
			color: $t_titles;
			transition: $trans;
			& > i {
				font-size: 24px;
			}
			&:hover {
				color: #006634;
			}
		}
	}
}
