.product {
	& .step-back {
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		background-color: $bg;
		border-radius: 6px;
		border: $border_l-green;
		margin-right: 18px;
		&__icon {
			width: 24px;
			height: 24px;
			fill: $t_titles;
			transition: $trans;
		}
		&:hover .step-back__icon {
			fill: #006634;
		}
	}
	&__image {
		margin-bottom: 30px;
		height: 416px;
		width: 490px;
		overflow: hidden;
		border-radius: $radius_sm;
		&:not(:nth-child(1)) {
			display: none;
		}
		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		&-list {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 95%;
			gap: 30px;
			margin-bottom: 50px;
		}
		&-item {
			width: 100px;
			height: 100px;
			cursor: pointer;
			transition: opacity 0.3s linear;
			opacity: 0.5;
			outline: none;
			overflow: hidden;
			& img {
				border-radius: 8px;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			&:hover {
				opacity: 1;
			}
			&.active {
				opacity: 1;
			}
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
		gap: 18px;
	}
	&__item {
		& .caption {
			font-weight: 600;
			font-size: 16px;
			color: $t_titles;
			display: block;
		}
		& > p {
			@include p3-reg;
			margin-bottom: 0;
		}
	}
	&__table {
		font-weight: 500;
		font-size: 14px;
		line-height: 157%;
		& > button {
			color: $t_light;
			transition: $trans;
			border-bottom: 1px dashed $t_light;
			background-color: rgba(0, 0, 0, 0);
			padding: 0;
			&:hover {
				color: $green_primary;
				border-bottom: 1px dashed $green_primary;
			}
		}
	}
	&-checkout {
		&__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 24px;
		}
		&__title {
			@include h-4;
		}
	}
	&-list {
		&__header {
			display: grid;
			grid-template-columns: 1.5fr 3.5fr 2.5fr 1.5fr 3fr;
			margin: 0 20px 16px 20px;
			column-gap: 20px;
		}
		&__body {
			margin-bottom: 40px;
		}
		&__col-title {
			font-weight: 500;
			font-size: 16px;
			line-height: 125%;
		}
		&__item {
			display: grid;
			grid-template-columns: 1.5fr 3.5fr 2.5fr 1.5fr 3fr;
			column-gap: 20px;
			border: 1px solid $outline;
			border-radius: $radius_sm;
			padding: 20px;
			margin-bottom: 18px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__size {
			@include p3-reg;
			font-weight: 600;
			color: $t_titles;
			word-break: normal;
			align-self: center;
		}
		&__title {
			@include h-6;
		}
		&__counter {
			align-self: center;
			padding: 0;
			max-width: 122px;
			& .counter {
				& .counter__box {
					width: 16px;
				}
			}
		}
		&__price {
			align-self: center;
			justify-self: start;
			font-family: $f_titles;
			color: $t_titles;
			margin: 0;
			&-wrapper {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
			&--black {
				color: $t_titles;
			}
			&--red {
				color: $red;
			}
			&--black,
			&--red {
				font-weight: 600;
				font-size: 24px;
			}
			&--gray {
				font-weight: 600;
				font-size: 18px;
				color: $t_light;
				text-decoration: line-through;
			}
		}
		&__btn {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}
