// top slider

.top-slider {
	&--items {
		overflow: hidden;
	}
	&__item {
		padding-top: 150px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 780px;
		width: 100%;
		overflow: hidden;
	}
	&__title {
		@include h-1;
		color: $white;
		margin-bottom: 58px;
	}
	&__descr {
		font-size: 32px;
		line-height: 131%;
		color: rgba(246, 246, 246, 0.9);
		color: $white;
		margin-bottom: 80px;
	}
	&__prev,
	&__next {
		width: 60px;
		height: 52px;
		border: none;
		border-radius: $radius_sm;
		transition: $trans;
		backdrop-filter: $blur;
		background: rgba(255, 255, 255, 0.15);
		color: white;
		margin-top: 26px;
		&:focus,
		&:active {
			border: none;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	&__prev {
		margin-right: 10px;
	}
	&__dots {
		color: $white;
		&-item {
			display: flex;
			justify-content: start;
			align-items: center;
			font-size: 20px;
			line-height: 140%;
			color: rgba(255, 255, 255, 0.8);
			margin-bottom: 48px;
			gap: 28px;
		}
	}
}
.slick-track {
	display: flex;
	justify-content: space-between;
}
.slick-prev,
.slick-next {
	width: 60px;
	height: 52px;
	border: none;
	border-radius: $radius_sm;
	transition: $trans;
	backdrop-filter: $blur;
	background: rgba(255, 255, 255, 0.15);
	&:focus,
	&:active {
		border: none;
	}
	&:hover {
		opacity: 0.9;
	}
}
// .slick-dots {
// 	& li {
// 		display: inline-block;
// 		margin-right: 12px;
// 		& button {
// 		background-color: $t_dark;
// 		border: none;
// 		outline: none;
// 		padding: 0;
// 		height: 5px;
// 		width: 5px;
// 		transition: $trans;
// 		border-radius: 50%;
// 		}
// 	}
// }
// .slick-dots li button {
// 	font-size: 0;
// 	line-height: 0;
// 	display: block;
// 	width: 109px;
// 	border-radius: 7px;
// 	height: 80px;
// 	cursor: pointer;
// 	color: transparent;
// 	border: 0;
// 	outline: none;
// 	background: url(../icon_check.svg) no-repeat 0 0 / cover;
// }

.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 56px;
	height: 56px;
	backdrop-filter: $blur;
	background: rgba(255, 255, 255, 0.15);
	border-radius: $radius;
	& img {
		width: 36px;
		height: 36px;
	}
}

.sslider {
	overflow: hidden;
	width: calc(100% + 2px);
	padding: 0 1px 15px;
	margin-left: -1px;
	&__wrapper {
		position: relative;
	}
	&__item {
		&.banner {
			overflow: hidden;
			width: 100%;
			height: auto;
			display: block;
			padding: 20px;
			border: $border;
			margin-right: -1px;
			& > img {
				border-radius: $radius_sm;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__arrows {
		& .btn--prev,
		& .btn--next {
			position: absolute;
			top: 50%;
		}
		& .btn--prev {
			left: -70px;
		}
		& .btn--next {
			right: -70px;
		}
	}
}
