.sslider {
	overflow: hidden;
	width: calc(100% + 2px);
	padding: 0 1px 20px;
	margin-left: -1px;
	&.decor__slider {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	&__wrapper {
		position: relative;
	}
	&__item {
		position: relative;
		&.banner {
			overflow: hidden;
			width: 100%;
			height: auto;
			display: block;
			padding: 20px;
			border: $border;
			margin-right: -1px;
			& > img {
				border-radius: $radius_sm;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__arrows {
		& button.slick-disabled {
			background: $bg;
			color: $t_primary;
			border: $border_l-green;
		}
		& .btn--prev,
		& .btn--next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&--rt {
				top: 0;
				transform: none;
				z-index: 1000;
			}
		}
		& .btn--prev {
			left: -64px;
			&--rt {
				left: calc(100% - 85px);
			}
		}
		& .btn--next {
			right: -64px;
			&--rt {
				right: 0;
			}
		}
	}
	&__bg {
		overflow: hidden;
		height: 644px;
		width: 100%;
		display: block;
		& > img {
			border-radius: $radius_sm;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__tblock {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 50%;
		background-color: $bg;
		box-shadow: $shadow_primary;
		padding: 80px;
		z-index: 2;
		& .img-wrapper {
			display: none;
		}
		& > h3 {
			@include h-3;
		}
		& > a {
			font-style: italic;
			font-weight: 500;
			font-size: 24px;
			color: $t_primary;
			margin-bottom: 34px;
			transition: $trans;
			display: flex;
			justify-content: start;
			align-items: center;
			&:hover {
				color: $green;
			}
		}
		& .about {
			font-style: italic;
			font-weight: 500;
			font-size: 24px;
			color: $t_primary;
			margin-bottom: 34px;
		}
		&--feed {
			background-image: url("../icons/quote.svg");
			background-repeat: no-repeat;
			background-size: 95px 72px;
			background-position: 42px 62px;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 140%;
	}
	&.areas__slider .slick-list {
		margin: 0 -12px;
	}
	&-nav {
		overflow: visible;
		& .slick-list {
			margin: 0 -12px;
		}
		& .slick-slide:not(.slick-active) {
			opacity: 0.25;
			&:hover {
				& img {
					filter: none;
					cursor: default;
				}
				& i {
					display: none;
				}
			}
		}
	}
	
}
.slides-numbers {
	color: $t_titles;
	display: none;
	right: 0;
	bottom: 0;
	position: absolute;
	font-family: $f_titles;
	font-size: 30px;
	font-weight: 600;
	.total {
		font-size: 24px;
		font-weight: 500;
	}
}
